@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 346.8 77.2% 49.8%;
		--radius: 0.3rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 346.8 77.2% 49.8%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 346.8 77.2% 49.8%;
	}
}

@layer utilities {
	#netflix-body {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		transition: opacity 1s ease-in-out;
	}
	#netflix {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: #000000;
		overflow: hidden;
	}
	#netflix i {
		display: block;
		position: relative;
		width: 300px;
		height: 300px;
		overflow: hidden;
		animation-name: zoom-in;
		animation-delay: 0.5s;
		animation-duration: 3.5s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
		background-size: 4000px;
		background-position: -1950px 0;
	}
	#netflix i::before {
		content: "";
		position: absolute;
		display: block;
		background-color: #000000;
		width: 150%;
		height: 30%;
		left: -25%;
		bottom: -27%;
		border-radius: 50%;
		z-index: 5;
		transform-origin: left center;
		background-size: 4000px;
		background-position: -1950px 0;
	}
	#netflix i[data-letter="M"] {
		transform-origin: 30% center;
	}
	#netflix i[data-letter="M"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 0;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="M"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1.2s;
	}
	#netflix i[data-letter="M"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="M"] .helper-3 {
		width: 19%;
		height: 70%;
		left: 21%;
		top: -17%;
		transform: rotate(-44.5deg);
		box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}
	#netflix i[data-letter="M"] .helper-3.helper-3a {
		width: 19%;
		height: 71%;
		left: 58%;
		top: -17%;
		transform: rotate(45deg);
		box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}
	#netflix i[data-letter="M"] .helper-3 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.8s;
	}
	#netflix i[data-letter="M"] .helper-2 {
		width: 19.5%;
		height: 100%;
		left: 80%;
		top: 0;
		transform: rotate(180deg);
		overflow: hidden;
	}
	#netflix i[data-letter="M"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
	}
	#netflix i[data-letter="E"] {
		transform-origin: 30% center;
	}
	#netflix i[data-letter="E"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 22%;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="E"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1.2s;
	}
	#netflix i[data-letter="E"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="E"] .helper-2 {
		width: 17.5%;
		height: 50%;
		left: 38%;
		top: -49px;
		transform: rotate(270deg);
		overflow: hidden;
	}
	#netflix i[data-letter="E"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.8s;
	}
	#netflix i[data-letter="E"] .helper-3 {
		width: 17%;
		height: 39%;
		left: 33%;
		top: 29%;
		transform: rotate(-90deg);
		box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
		overflow: hidden;
		animation-name: fading-out;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
	#netflix i[data-letter="E"] .helper-3 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.6s;
	}
	#netflix i[data-letter="E"] .helper-4 {
		width: 17.5%;
		height: 50%;
		left: 38%;
		top: 196px;
		transform: rotate(270deg);
		overflow: hidden;
	}
	#netflix i[data-letter="E"] .helper-4 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.4s;
		animation-delay: 0.5s;
	}
	#netflix i[data-letter="T"] {
		transform-origin: center center;
	}
	#netflix i[data-letter="T"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 38%;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="T"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
	#netflix i[data-letter="T"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="T"] .helper-2 {
		width: 17.5%;
		height: 54%;
		left: 39%;
		top: -55px;
		transform: rotate(270deg);
		overflow: hidden;
	}
	#netflix i[data-letter="T"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
	}
	#netflix i[data-letter="F"] {
		transform-origin: 30% center;
	}
	#netflix i[data-letter="F"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 22%;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="F"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1.2s;
	}
	#netflix i[data-letter="F"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="F"] .helper-2 {
		width: 17.5%;
		height: 50%;
		left: 38%;
		top: -49px;
		transform: rotate(270deg);
		overflow: hidden;
	}
	#netflix i[data-letter="F"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.7s;
	}
	#netflix i[data-letter="F"] .helper-3 {
		width: 17%;
		height: 39%;
		left: 33%;
		top: 29%;
		transform: rotate(-90deg);
		box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
		overflow: hidden;
		animation-name: fading-out;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
	#netflix i[data-letter="F"] .helper-3 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
	}
	#netflix i[data-letter="L"] {
		transform-origin: 30% center;
	}
	#netflix i[data-letter="L"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 22%;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="L"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 0.8s;
	}
	#netflix i[data-letter="L"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="L"] .helper-2 {
		width: 17.5%;
		height: 50%;
		left: 38%;
		top: 196px;
		transform: rotate(270deg);
		overflow: hidden;
	}
	#netflix i[data-letter="L"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.4s;
	}
	#netflix i[data-letter="I"] {
		transform-origin: center center;
	}
	#netflix i[data-letter="I"] .helper-1 {
		width: 19.5%;
		height: 100%;
		background-color: rgba(228, 9, 19, 0.5);
		left: 38%;
		top: 0;
		transform: rotate(180deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="I"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
	#netflix i[data-letter="I"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="X"] {
		transform-origin: center center;
	}
	#netflix i[data-letter="X"] .helper-1 {
		width: 19%;
		height: 150%;
		left: 40.5%;
		top: -25%;
		transform: rotate(-19.5deg);
		animation-name: fading-lumieres-box;
		animation-duration: 2s;
		animation-delay: 0.6s;
		animation-fill-mode: forwards;
	}
	#netflix i[data-letter="X"] .helper-1 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2.5s;
		animation-fill-mode: forwards;
		animation-delay: 1.2s;
	}
	#netflix i[data-letter="X"] .helper-1 .effect-brush [class*="fur-"] {
		bottom: 0;
		height: 40%;
	}
	#netflix i[data-letter="X"] .helper-2 {
		width: 19%;
		height: 150%;
		left: 40.5%;
		top: -25%;
		transform: rotate(19.5deg);
		overflow: hidden;
	}
	#netflix i[data-letter="X"] .helper-2 .effect-brush {
		animation-name: brush-moving;
		animation-duration: 2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
	}
	#netflix i [class*="helper-"] {
		position: absolute;
	}
	#netflix i [class*="helper-"] .effect-brush {
		position: absolute;
		width: 100%;
		height: 300%;
		top: 0;
		overflow: hidden;
	}
	#netflix i [class*="helper-"] .effect-brush::before {
		display: block;
		content: "";
		position: absolute;
		background-color: #e40913;
		width: 100%;
		height: 70%;
		box-shadow: 0px 0px 29px 24px #e40913;
	}
	#netflix i [class*="helper-"] .effect-brush [class*="fur-"] {
		display: block;
		position: absolute;
		bottom: 10%;
		height: 30%;
	}
	#netflix i [class*="helper-"] .effect-brush .fur-1 {
		left: 0%;
		width: 3.8%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-2 {
		left: 3.8%;
		width: 2.8%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 10%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-3 {
		left: 6.6%;
		width: 4.8%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-4 {
		left: 11.4%;
		width: 4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 23%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-5 {
		left: 15.4%;
		width: 4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 15%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-6 {
		left: 19.4%;
		width: 2.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, rgba(0, 0, 0, 0) 89%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-7 {
		left: 21.9%;
		width: 4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 20%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-8 {
		left: 25.9%;
		width: 2%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-9 {
		left: 27.9%;
		width: 4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 35%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-10 {
		left: 31.9%;
		width: 3.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-11 {
		left: 35.4%;
		width: 2%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-12 {
		left: 37.4%;
		width: 2.6%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 22%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-13 {
		left: 40%;
		width: 6%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-14 {
		left: 46%;
		width: 2%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 36%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-15 {
		left: 48%;
		width: 5.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 29%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-16 {
		left: 53.5%;
		width: 3%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-17 {
		left: 56.5%;
		width: 4.1%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 45%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-18 {
		left: 60.6%;
		width: 2.4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-19 {
		left: 63%;
		width: 4%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 47%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-20 {
		left: 67%;
		width: 1.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 27%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-21 {
		left: 68.5%;
		width: 2.8%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-22 {
		left: 71.3%;
		width: 2.3%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 9%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-23 {
		left: 73.6%;
		width: 2.2%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-24 {
		left: 75.8%;
		width: 1%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-25 {
		left: 76.8%;
		width: 2.1%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 28%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-26 {
		left: 78.9%;
		width: 4.1%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 34%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-27 {
		left: 83%;
		width: 2.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 21%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-28 {
		left: 85.5%;
		width: 4.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 39%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-29 {
		left: 90%;
		width: 2.8%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 30%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-30 {
		left: 92.8%;
		width: 3.5%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 19%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-brush .fur-31 {
		left: 96.3%;
		width: 3.7%;
		background: linear-gradient(to bottom, #e40913 0%, #e40913 37%, rgba(0, 0, 0, 0) 100%);
	}
	#netflix i [class*="helper-"] .effect-lumieres {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
		animation-name: showing-lumieres;
		animation-duration: 2s;
		animation-delay: 1.6s;
		animation-fill-mode: forwards;
	}
	#netflix i [class*="helper-"] .effect-lumieres [class*="lamp-"] {
		position: absolute;
		display: block;
		height: 100%;
		box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
		background: var(--color);
	}
	#netflix i [class*="helper-"] .effect-lumieres [class*="lamp-"]::before {
		position: absolute;
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		background: var(--color);
		box-shadow: 0px 0px 10px 0px rgba(228, 9, 19, 0.75);
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-1 {
		--color: #ff0100;
		z: 6;
		left: 0.7%;
		width: 1%;
		animation-delay: 1.8s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-1::before {
		left: 199%;
		animation-delay: 1.52s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-2 {
		--color: #ffde01;
		left: 2.2%;
		width: 1.4%;
		animation-delay: 0.73s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-2::before {
		left: 74%;
		animation-delay: 0.02s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-3 {
		--color: #ff00cc;
		left: 5.8%;
		width: 2.1%;
		animation-delay: 1.4s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-3::before {
		left: 107%;
		animation-delay: 0.7s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-4 {
		--color: #04fd8f;
		left: 10.1%;
		width: 2%;
		animation-delay: 0.2s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-4::before {
		left: 123%;
		animation-delay: 1.32s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-5 {
		--color: #ff0100;
		left: 12.9%;
		width: 1.4%;
		animation-delay: 1.49s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-5::before {
		left: 75%;
		animation-delay: 0.93s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-6 {
		--color: #ff9600;
		left: 15.3%;
		width: 2.8%;
		animation-delay: 0.24s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-6::before {
		left: 168%;
		animation-delay: 0.26s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-7 {
		--color: #0084ff;
		left: 21.2%;
		width: 2.5%;
		animation-delay: 0.85s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-7::before {
		left: 184%;
		animation-delay: 0.87s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-8 {
		--color: #f84006;
		left: 25%;
		width: 2.5%;
		animation-delay: 1.97s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-8::before {
		left: 124%;
		animation-delay: 0.06s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-9 {
		--color: #ffc601;
		left: 30.5%;
		width: 3%;
		animation-delay: 0.06s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-9::before {
		left: 132%;
		animation-delay: 1.04s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-10 {
		--color: #ff4800;
		left: 36.3%;
		width: 3%;
		animation-delay: 1.74s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-10::before {
		left: 191%;
		animation-delay: 1.13s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-11 {
		--color: #fd0100;
		left: 41%;
		width: 2.2%;
		animation-delay: 0.19s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-11::before {
		left: 138%;
		animation-delay: 0.16s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-12 {
		--color: #01ffff;
		left: 44.2%;
		width: 2.6%;
		animation-delay: 1.36s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-12::before {
		left: 190%;
		animation-delay: 0.41s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-13 {
		--color: #ffc601;
		left: 51.7%;
		width: 0.5%;
		animation-delay: 0.35s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-13::before {
		left: 102%;
		animation-delay: 1.89s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-14 {
		--color: #ffc601;
		left: 52.1%;
		width: 1.8%;
		animation-delay: 1.08s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-14::before {
		left: 127%;
		animation-delay: 1.12s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-15 {
		--color: #0078fe;
		left: 53.8%;
		width: 2.3%;
		animation-delay: 0.48s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-15::before {
		left: 72%;
		animation-delay: 0.4s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-16 {
		--color: #0080ff;
		left: 57.2%;
		width: 2%;
		animation-delay: 1.97s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-16::before {
		left: 69%;
		animation-delay: 1.58s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-17 {
		--color: #ffae01;
		left: 62.3%;
		width: 2.9%;
		animation-delay: 1.94s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-17::before {
		left: 20%;
		animation-delay: 0.11s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-18 {
		--color: #ff00bf;
		left: 65.8%;
		width: 1.7%;
		animation-delay: 1.23s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-18::before {
		left: 160%;
		animation-delay: 0.23s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-19 {
		--color: #a601f4;
		left: 72.8%;
		width: 0.8%;
		animation-delay: 0.22s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-19::before {
		left: 97%;
		animation-delay: 0.97s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-20 {
		--color: #f30b34;
		left: 74.3%;
		width: 2%;
		animation-delay: 1.7s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-20::before {
		left: 41%;
		animation-delay: 0.1s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-21 {
		--color: #ff00bf;
		left: 79.8%;
		width: 2%;
		animation-delay: 0.53s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-21::before {
		left: 142%;
		animation-delay: 1.04s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-22 {
		--color: #04fd8f;
		left: 78.2%;
		width: 2%;
		animation-delay: 0.62s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-22::before {
		left: 50%;
		animation-delay: 0.44s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-23 {
		--color: #01ffff;
		left: 78.5%;
		width: 2%;
		animation-delay: 1.81s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-23::before {
		left: 176%;
		animation-delay: 1.56s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-24 {
		--color: #a201ff;
		left: 85.3%;
		width: 1.1%;
		animation-delay: 1.09s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-24::before {
		left: 197%;
		animation-delay: 1.07s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-25 {
		--color: #ec0014;
		left: 86.9%;
		width: 1.1%;
		animation-delay: 1.23s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-25::before {
		left: 166%;
		animation-delay: 0.02s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-26 {
		--color: #0078fe;
		left: 88.8%;
		width: 2%;
		animation-delay: 0.85s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-26::before {
		left: 40%;
		animation-delay: 0.14s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-27 {
		--color: #ff0036;
		left: 92.4%;
		width: 2.4%;
		animation-delay: 0.92s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-27::before {
		left: 5%;
		animation-delay: 1.97s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-28 {
		--color: #06f98c;
		left: 96.2%;
		width: 2.1%;
		animation-delay: 1.65s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-28::before {
		left: 132%;
		animation-delay: 1.66s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-1,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-3,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-5,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-7,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-9,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-11,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-13,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-15,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-17,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-19,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-21,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-23,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-25,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-27 {
		animation-name: lumieres-moving-left;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-1::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-3::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-5::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-7::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-9::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-11::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-13::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-15::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-17::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-19::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-21::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-23::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-25::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-27::before {
		animation-name: lumieres-moving-left;
		animation-duration: 5.5s;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-2,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-4,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-6,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-8,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-10,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-12,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-14,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-16,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-18,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-20,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-22,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-24,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-26,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-28 {
		animation-name: lumieres-moving-right;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	}
	#netflix i [class*="helper-"] .effect-lumieres .lamp-2::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-4::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-6::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-8::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-10::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-12::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-14::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-16::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-18::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-20::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-22::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-24::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-26::before,
	#netflix i [class*="helper-"] .effect-lumieres .lamp-28::before {
		animation-name: lumieres-moving-right;
		animation-duration: 5.5s;
	}

	@keyframes brush-moving {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-100%);
		}
	}
	@keyframes fading-out {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes lumieres-moving-right {
		0% {
			transform: translate(0);
		}
		40% {
			transform: translate(-10px) scaleX(1);
		}
		50% {
			transform: translate(-60px);
		}
		100% {
			transform: translate(-120px) scaleX(3);
		}
	}
	@keyframes lumieres-moving-left {
		0% {
			transform: translate(0);
		}
		40% {
			transform: translate(10px) scaleX(1);
		}
		50% {
			transform: translate(60px);
		}
		100% {
			transform: translate(120px) scaleX(3);
		}
	}
	@keyframes zoom-in {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(9);
		}
	}
	@keyframes showing-lumieres {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fading-lumieres-box {
		0% {
			background-color: rgba(228, 9, 19, 0.5);
		}
		100% {
			background-color: rgba(228, 9, 19, 0);
		}
	}
}
